<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/resources/css/basic.css" type="text/css">
  </head>
  <body>
    <h1><%=message%></h1>
  </body>
</html>
