body {
  max-width: 600px;
}

#buttons {
  margin-top: 12px;
}

#fileName {
  margin-top: 12px;
  margin-bottom: 12px;
}

#list > ul {
  list-style-type: none;
}

#list > ul > li {
  margin-top: 20px;
}
